*.pdf
*.xlsx
*.jpeg
*.jpg
*.png
*.gif
*.zip
*.tar.gz
node_modules/
vendor/
.env
php.ini
application/config/app-config.local.php
application/config/environment.local.php
application/logs/log-*.php
uploads/
assets/
media/
modules/
rotina_email/
https:/
